# Flutter
**/.dart_tool/
**/build/
**/.flutter-plugins*
**/generated_plugin_registrant.dart

# Next.js
site/node_modules/
site/.next/
site/out/
site/.vercel/

# بيئات
**/.env
**/.env.local

# نظام
.DS_Store
Thumbs.db